* {
    margin: 0;
}

.margin {
    margin-right: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.inline-div {
    display: inline-block;
    *display: inline;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

html,
body {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.header {
    box-sizing: border-box;
    background-color: lightseagreen;
    border-style: groove;
    border-width: thick;
    height: 8%;
}

.page {
    box-sizing: border-box;
    background-color: lightgreen;
    border-style: solid;
    border-width: medium;
    height: 92%;
}

.panel {
    box-sizing: border-box;
    border-style: dotted;
    border-width: thin;
    float: left;
    overflow-y: scroll;
    height: 100%;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}
